__pycache__/
*.egg-info/
.DS_Store
build/
.venv/
venv/
dist/
pyenv/
*.mexmaca64
*.slxc
*.slxc.autosave
slprj/
*.log
*.asv
*.html
sting_log.txt
*.csv
*.mat
# Ignore temp folder used for tests
tests/tmpdir
tests/emt_tests/tmpdir
.vscode/
# Include input files of certain examples
!examples/capacity_expansion/2bus/**/*.csv
!examples/capacity_expansion/5bus/**/*.csv
!examples/capacity_expansion/energy_budgets/**/*.csv
!examples/capacity_expansion/transmission_capacity_policy/**/*.csv